---
import { Image } from 'astro:assets'

import { Quote } from 'astro-pure/advanced'
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import ProjectCard from '@/components/home/ProjectCard.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
// import avatar from '@/assets/avatar.png'
import config from '@/site-config'

const languages = ['Terraform', 'CloudFormation', 'CSS', 'PowerShell', 'YAML', 'Python']
const infra = ['Kubernetes', 'GitOps', 'Flux', 'VMware', 'SonicWall', 'UniFi', 'F5']
const clouds = ['AWS', 'Azure']

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src='https://gravatar.com/avatar/852046e1fb4620d1f56909b0d0bf0b8d0d640c6b79c6f629fa72a46de685c389?size=256'
        alt='profile'
        width={256}
        height={256}
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='Fairport, NY'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label
            title='Source code'
            as='a'
            href='https://github.com/pipitonelabs/blogv2'
            target='_blank'
          >
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>

      {/* Order a Tesla
      <a
        href='https://t.co/c6G2z2ynUs'
        target='_blank'
        class='flex flex-row items-center gap-x-3 rounded-full border bg-background px-4 py-2 text-sm shadow-sm transition-shadow hover:shadow-md'
      >
        <span class='relative flex items-center justify-center'>
          <span
            class='absolute size-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
          ></span>
          <span class='size-2 rounded-full bg-green-400'></span>
        </span>
        <p class='font-medium text-muted-foreground'>Order a Tesla</p>
      </a>
    */}
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='About'>
        <p class='text-muted-foreground'>Cloud Engineer</p>
        <p class='text-muted-foreground'>
          I am a Cloud Engineer working on AWS, Azure, Infrastructure & Automation, and GitOps / Kubernetes.
          I like to continuously expand my knowledge using my HomeLab environment to deploy and experiment with open source technologies.
        </p>
        <Button title='More about me' class='w-fit self-end' href='/about' variant='ahead' />
      </Section>
      <Section title='Education'>
        <Card
          as='a'
          heading='B.S. Information Technology'
          subheading='Point Park University - Pittsburgh, PA'
          date='2004'
          href='https://www.pointpark.edu/index'
          target='_blank'
        >
          {
            /* <ul class='ms-4 list-disc text-muted-foreground'>
              <li>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
                molestiae laboriosam pariatur!
              </li>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
            </ul> */
          }
        </Card>
      </Section>
      <Section title='Certifications'>
        <Card
          as='a'
          href='https://www.credly.com/users/joe-pipitone'
          target='_blank'
          heading='AWS Certified Solutions Architect - Associate'
          subheading='Amazon Web Services'
          date='2/28/2024'
        >
        </Card>
        <Card
          as='a'
          href='https://www.credly.com/users/joe-pipitone'
          target='_blank'
          heading='AWS Certified Cloud Practitioner'
          subheading='Amazon Web Services'
          date='12/16/2022'
        >
        </Card>
        <Card
          as='a'
          href='https://www.credly.com/users/joe-pipitone'
          target='_blank'
          subheading='Microsoft'
          heading='Microsoft Certified: Azure Fundamentals'
          date='3/18/2022'
        >
        </Card>
        <Card
          as='a'
          href='https://www.credly.com/users/joe-pipitone'
          target='_blank'
          subheading='New Horizons'
          heading='ITIL 4 Foundation'
          date='11/1/2022'
        >
        </Card>
      </Section>
      <Section title='Skills'>
        <SkillLayout title='Cloud Platforms' skills={clouds} />
        <SkillLayout title='Languages' skills={languages} />
        <SkillLayout title='Infrastructure' skills={infra} />
      </Section>
      <Section title='Experience'>
        <Card
          heading='Constellation Brands, Inc.'
          subheading='Cloud Engineer'
          date='March 2022 - Present'
        >
          <ul class='ms-4 list-disc text-muted-foreground'>
            <li>
              Own an AWS enterprise foundation.
            </li>
            <li>
              Established governance standards and led cost-reduction initiatives.  
            </li>
          </ul>
        </Card>
        <Card
          heading='Constellation Brands'
          subheading='Senior Office 365 Engineer'
          date='March 2020 - May 2022'
        >
          <ul class='ms-4 list-disc text-muted-foreground'>
            <li>
              Owned an Enterprise Microsoft 365 Environment.
            </li>
            <li>
              Led post-acquisition integrations and divestiture separations, including migrations and transitions.
            </li>
          </ul>
        </Card>
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' variant='ahead' />
          </Section>
        )
      }

      {
        /* <Section title='Website List'>
        <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/alex-tyson-2BAXJ7ha74s-unsplash.jpg'
          />
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/angelica-teran-Bk9hpaXHK4o-unsplash.jpg'
          />
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/kseniia-zapiatkina-yATU3rg8tNI-unsplash.jpg'
          />
          <ProjectCard
            href='/projects'
            heading='More projects'
            subheading='Check out more projects'
            imagePath='/src/assets/projects/wen-qiao-g_w8I64FiO0-unsplash.jpg'
          />
        </div>
      </Section> */
      }

    </div>
    <Quote class='mt-12' />
  </main>
</PageLayout>